.each_rest{
	position: relative;
	width: 100%;
	height: 180px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	cursor: pointer;
}
.rest_info{
	padding: 0 12px;
	bottom: 0px;
	position: absolute;
}
.rest_name{
	margin: 0;
	font-family: 'AvenirNext-DemiBold';
	font-size: 16px;
	color: #FFFFFF;
	line-height: 1;
}
.rest_category{
	margin: 0;
	font-family: 'AvenirNext-DemiBold';
	padding: 6px 0;
	font-size: 12px;
	color: #FFFFFF;
	line-height: 1;
}
@media screen and (min-width: 768px) {
	.each_rest{
		width: 50%;
		float: left;
	}
}